@use '../../styles/partials/global' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.container {
  @include flex(column, flex-start, flex-start);
  padding: 20px;
  width: 100%;
  min-width: 100%;
  flex-grow: 1;
}

h2 {
  @include article-header;
}
