// ------------------------------
// Breakpoints
// ------------------------------
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// ------------------------------
// Colors
// ------------------------------

$header: #292929;
$accent: #ef694d;
$white: #f9f9f9;

// ------------------------------
// margins & Padding
// ------------------------------

$mobile-side-pad: 1rem;
$tablet-side-pad: 1.5rem;

$large-after-margin: 1.5rem;
$medium-after-margin: 1rem;
$small-after-margin: 8px;
$xsmall-after-margin: 4px;
