@use '../../styles/partials/global' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.content {
  width: 100%;
  padding: $mobile-side-pad;
  @include flex(column, center, center);
  @include tablet {
    padding: $tablet-side-pad;
  }

  @include desktop {
    @include flex(row, center, flex-start);
  }
}
