@use '../../styles/partials/global' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.about {
  margin-bottom: $large-after-margin;

  @include desktop {
    position: sticky;
    top: $header-offset + 1rem;
    margin-right: 5rem;
  }
  &__title {
    margin-bottom: $medium-after-margin;
    @include article-header;
  }
  &__paragraph {
    max-width: 75ch;
    font-size: 1rem;
    margin-bottom: $medium-after-margin;
    line-height: 1.5rem;
  }

  @include desktop {
    max-width: 45%;
  }
}
