@use '../../styles/partials/global' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.card {
  @include flex(column, center, center);
  background-color: #fff;
  margin-bottom: $large-after-margin;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
}

.ribbon {
  background-color: $header;
  color: white;
  padding: 10px;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.ribbon h2 {
  margin: 0;
  font-size: 18px;
  width: 100%;
}

.card-content {
  max-width: 70ch;
  display: none;
  padding: 20px;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  max-height: 0;
  overflow: hidden;
}

.card-content.open {
  display: block;
  max-height: fit-content;
  padding: 20px;
}

.card-content p {
  width: 100%;
  margin: 10px 0;
}
